<ion-content>
  <ion-item [routerLink]="['/','places','tabs','offers', offer.id]">
    <ion-thumbnail slot="start">
      <ion-img [src]="offer.imageUrl"></ion-img>
    </ion-thumbnail>
    <ion-label>
      <h2>{{ offer.title }}</h2>
      <p>{{ offer.description }}</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non consequuntur quae deleniti praesentium expedita
        veritatis consequatur facilis eius eveniet ea quasi minima ipsam quod ratione voluptas, sint beatae porro.
        Corporis.</p>
    </ion-label>

    <div>
      <ion-icon name="calendar"></ion-icon>
      <ion-text color="primary">{{getDummyDate() | date}}</ion-text>
      <span>TO</span>
      <ion-icon name="calendar"></ion-icon>
      <ion-text color="primary">{{getDummyDate() | date}}</ion-text>
    </div>
  </ion-item>
</ion-content>
