<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button routerLink="/places/tabs/offers"></ion-back-button>
    </ion-buttons>
    <ion-title>edit-offer</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">

    <ion-grid>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label postion="floating">Title</ion-label>
            <ion-input type="text" autocomplete autocorrect formControlName="title"></ion-input>
          </ion-item>
        </ion-col>

      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label postion="floating">Short Description</ion-label>
            <ion-textarea rows="3" formControlName="description"></ion-textarea>
          </ion-item>
        </ion-col>

      </ion-row>
      <ion-row *ngIf="!form.get('description').valid && form.get('description').touched">
        <ion-col  size-sm="6" offset-sm="3">
<p>description should be 1 anf 180</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label postion="floating">Price</ion-label>
            <ion-input type="number" formControlName="price"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-item>
            <ion-label postion="floating">Avaliable from</ion-label>
            <ion-datetime min="2019-12-31" max="2025-21-31" formControlName="datefrom"></ion-datetime>
          </ion-item>
        </ion-col>


        <ion-col size-sm="3">
          <ion-item>
            <ion-label postion="floating">Avaliable to</ion-label>
            <ion-datetime min="2019-01-02" max="2025-21-31" formControlName="dateto"></ion-datetime>
          </ion-item>
        </ion-col>

      </ion-row>
    </ion-grid>
  </form>
</ion-content>
