<ion-header>
  <ion-toolbar>
    <ion-title>{{ isLogin ? 'Login' : 'Singnup'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">

    <ion-list>
      <ion-item>
        <ion-label position="floating">
          E-mail
        </ion-label>
        <ion-input type="email" [ngModel] required name="email"  #emailCtrl="ngModel" email lines="none"></ion-input>
      </ion-item>
      <ion-item *ngIf="!emailCtrl.valid && emailCtrl.touched" >
        <ion-label > Should Be a valid adress</ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="floating">
          password
        </ion-label>
        <ion-input type="password" [ngModel] required name="password" minlength="6" #passwordCtrl="ngModel"></ion-input>
      </ion-item>
      <ion-item *ngIf="!passwordCtrl.valid && passwordCtrl.touched">
        <ion-label> Should Be a valid adress</ion-label>
      </ion-item>
    </ion-list>
    <!-- <div text-center>

      <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner>
    </div> -->
    <ion-button color="primary" type="button" fill="clear" expand="full" (click)="onSwitchAuthModel()">Switch to {{ isLogin ? 'Singnup':'Login'}} </ion-button>
    <ion-button color="primary" type="submit" (click)="onLogin()" *ngIf="!isLoading" expand="full" fill="outline" [disabled]="!f.valid">
      LogIn
    </ion-button>
  </form>
</ion-content>
