<ion-header>
  <ion-toolbar>
    <ion-title>recipes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list >
    <ion-item *ngFor="let recipe of  recipes">
      <ion-avatar slot="start">
    <ion-img [src]="recipe. imageUrl">

    </ion-img>
      </ion-avatar>
      <ion-label>
        {{recipe.title}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
