<ion-app>
  <ion-menu side="start"  contentId="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>
          pairBnB
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item lines="none" routerLink="/places/tabs/discover">
            <ion-icon name="business" slot="start"></ion-icon>
            <ion-label>
              Discover Places
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>

          <ion-item lines="none" routerLink="/bookings">
            <ion-icon name="checkbox-outline" slot="start"></ion-icon>
            <ion-label>
              Your Bookings
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" (click)="onLogout()" button>
            <ion-icon name="exit" slot="start">
            </ion-icon>
            <ion-label>
            LogOut
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
     </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
