<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
<ion-back-button routerLink="/places/tabs/offers"></ion-back-button>
<ion-title>{{place.title}}</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
<ion-button color="primary" margin [routerLink]="['/','places','tabs','offers',place.id]" >Edit</ion-button>
<p>{{place.description}}</p>
</ion-content>
