<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/discover"></ion-back-button>
    </ion-buttons>

    <ion-title>place Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-button color="primary" margin (click)="onBookPlace()">Book</ion-button>
</ion-content>
